body {
  background:black;
}

span {
  white-space: pre;
}

#jim {
  left:16px;
  position:relative;
  font-family: "spleen";
  color:white;
  flex-grow:1;
}

#cursor {
  position:absolute;
  color:black;
  z-index:2;
}

#background {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:-100;
  background-repeat:no-repeat;
  background-size:cover;
}


#linenumbers {
  position:fixed;
  left:0;
  top:1;
  width:5%;
  height:100vh;
  overflow:auto;
  color:white;
  font-family: "spleen";
}

#command {
  font-family: "iosevka";
  color:white;
  position:fixed;
  bottom:0;
  left:0;
}

@font-face {
  font-family: "Venacti";
  src: url('./fonts/Venacti.ttf');
}

@font-face {
  font-family: "iosevka";
  src: url('./fonts/iosevka.ttf');
}

@font-face {
  font-family: "spleen";
  src: url('./fonts/spleen.otf');
}
