body {
  background:black;
}

span {
  white-space: pre;
}

#jim {
  left:16px;
  position:relative;
  font-family: "iosevka";
  color:white;
  flex-grow:1;
}

#cursor {
  position:absolute;
  color:black;
  z-index:2;
}


#linenumbers {
  position:fixed;
  left:0;
  top:1;
  width:5%;
  height:100vh;
  overflow:auto;
  color:white;
  font-family: "iosevka";
}

#command {
  font-family: "iosevka";
  color:white;
  position:fixed;
  bottom:0;
  left:0;
}

@font-face {
  font-family: "Venacti";
  src: url('./fonts/Venacti.ttf');
}

@font-face {
  font-family: "iosevka";
  src: url('./fonts/iosevka.ttf');
}
